@import "tailwindcss";

@theme {
  --color-background: 224 71% 4%;
  --color-foreground: 213 31% 91%;
  --color-muted: 223 47% 11%;
  --color-muted-foreground: 215.4 16.3% 56.9%;
  --color-accent: 216 34% 17%;
  --color-accent-foreground: 210 40% 98%;
  --color-popover: 224 71% 4%;
  --color-popover-foreground: 215 20.2% 65.1%;
  --color-border: 216 34% 17%;
  --color-input: 216 34% 17%;
  --color-card: 222 47% 11%;
  --color-card-foreground: 213 31% 91%;
  --color-primary: 210 100% 52%;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: 222.2 47.4% 11.2%;
  --color-secondary-foreground: 210 40% 98%;
  --color-destructive: 0 63% 31%;
  --color-destructive-foreground: 210 40% 98%;
  --color-ring: 216 34% 17%;
  --radius-radius: 1rem;
}

@utility light {
  --color-background: 220 14% 90%;
  --color-foreground: 224 71% 4%;
  --color-muted: 220 14% 96%;
  --color-muted-foreground: 220 8% 46%;
  --color-accent: 220 14% 96%;
  --color-accent-foreground: 224 71% 4%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 224 71% 4%;
  --color-border: 220 13% 91%;
  --color-input: 220 13% 91%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 224 71% 4%;
  --color-primary: 221 83% 53%;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: 220 14% 96%;
  --color-secondary-foreground: 224 71% 4%;
  --color-destructive: 0 84% 60%;
  --color-destructive-foreground: 210 40% 98%;
  --color-ring: 224 71% 4%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}